/*  your css code here. If applicable */
body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, sans-serif;
    padding: 20px;
}


h1, h2 {
    text-align: center;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none; 
    margin-bottom: 5px;
}

a {
    text-decoration-line: none; /* Requirement: No underline */
    color: black;
    font-size: 18px;
}

.player_one, .player_two, .playlist-box {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px; 
    max-width: 600px;
    margin: 0 auto 20px auto; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}


video {
    width: 100%;
    border-radius: 5px;
}


audio {
    width: 100%;
    margin-top: 10px;
}

